*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(215,219,214);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.d-flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.p-10{
    padding: 10px;
}

.top-bar{
    background-color: rgb(65,151,136);
    height: 80px;
}

.container{
    height: 600px;
    border: 1px solid black;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.col-left{
    background-color: white;
    border-right: 1px solid grey;
    min-width: 351px;
    overflow-y: scroll;
}

.top-head-name{
    position: fixed;
    height: 200px;
    width: 350px;
}

.col-right{
    width: 70%;
    flex-direction: column;
    background-image: url('../img/mine.jpg');
    min-width: 700px;
}

.head-name{
    background-color: rgb(234,234,234);
    padding: 20px;
}

.head-name input{
    flex-grow: 1;
    margin: 0px 10px;
}

i{
    padding: 0 8px;
    opacity: 0.5;
}

.alert{
    background-color: rgb(136,209,242);
}

.alert span{
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin-right: 10px;
    display: flex;
}

.search{
    padding: 15px 0;
    background-color: white
}

button{
    border: none;
    background-color: white;
    width: 20%;
}

.search input{
    border: none;
}

.col-left ul{
    padding-top: 230px;
}

li{
    list-style: none;
    border-top:1px solid lightgray;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-cnt{
    flex-grow: 1;
    padding-left: 10px;
}

.avatar-name{
    width: 100%;
}

.cnt-text{
    flex-grow: 1;
    padding: 50px;
    overflow-y: scroll;
}

.message-box{
    width: 285px;
    margin: 5px;
    border-radius: 15px;
}

.cnt-text li{
    display: grid;
}

.sent{
    background-color: rgb(221,244,187);
    justify-self: flex-end;
}

.received{
    background-color: white;
}

.d-none{
    display: none;
}

.date{
    font-size: 12px;
    text-align: right;
    display: block;
    padding-top: 10px;
    color: grey;
}

.date-name{
    font-size: 12px;
    color: grey;
    padding-top: 10px;
}

.name{
    flex-grow: 1;
    margin-left: 20px;
}

.col-left a{
    color:white
}

.dropdown-list{
    position: relative;
}

.dropdown ul{
    position: absolute;
    bottom: -100px;
    left: -180px;
    background-color: white;
    width: 200px;
    height: 100px;
}

.dropdown i{
    display: none;
}

.dropdown:hover i{
    display: block;
}









