<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="app">

        <main>

            <div class='top-bar'>

            </div>

            <div class="container d-flex">
                
                <div class="col-left">
                    <div class="top-head-name">
                    <div class="head-name d-flex justify-content align-center">
                        <img src="./img/avatar_1.jpg" alt="Utente"/>
                        <span class="name">Michele</span>
                        <div>
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="alert d-flex align-center p-10">
                        <span class="align-center"><i class="fa-regular fa-bell-slash"></i></span>
                        <div>
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="search">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchName" class="p-10">
                    </div>
                    </div>
                    <ul>
                        <li class="avatar d-flex p-10" v-for="(avatar,index) in contacts" :class="avatar.name.toLowerCase().includes(this.searchName.toLowerCase())?'':'d-none'" @click="showAvatar(index)">
                            <img :src="avatar.avatar" :alt="avatar.name"/>
                            <div class="avatar-cnt">
                                <div class="avatar-name d-flex justify-content">
                                    <span>{{avatar.name}}</span>
                                    <span class="date" v-for="(last,indice) in contacts[index].messages" v-show="indice == contacts[index].messages.length - 1">{{last.date}}</span>
                                </div>
                                <div class="date-name" v-for="(last,indice) in contacts[index].messages" v-show="indice == contacts[index].messages.length - 1">{{last.message}}...</div>        
                        </li>
                    </ul>
                </div>

                <div class="col-right d-flex justify-content">
                    <div class="head-name d-flex justify-content align-center" v-if="avatarSelezionato != -1">
                        <img :src="contacts[avatarSelezionato].avatar" :alt="contacts[avatarSelezionato].name"/>
                        <div class="name">
                            <span>{{contacts[avatarSelezionato].name}}</span>
                            <div class="date-name" v-for="(last,indice) in contacts[avatarSelezionato].messages" v-show="indice == contacts[avatarSelezionato].messages.length - 1">Ultimo Accesso alle {{last.date}}</div>
                        </div>
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="cnt-text" v-if="avatarSelezionato != -1">
                        <ul>
                            <li v-for="(message,index) in contacts[avatarSelezionato].messages">
                                <div :class="message.status" class="message-box p-10" @click="clickMessage(index)" >
                                    <div class="dropdown d-flex justify-content">
                                        <span>{{message.message}}</span>
                                        <div class="dropdown-list">
                                            <i class="fa-solid fa-chevron-down"></i>
                                            <ul>
                                                <li class="p-10">Info</li>
                                                <li @click="remove(index)" class="p-10">Elimina</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="date">{{message.date}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="head-name d-flex justify-content align-center">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage()" class="p-10">
                        <i class="fa-solid fa-microphone"></i>
                    </div>

                </div>

                
            </div>

        </main>

    </div>

    <script src=" https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js "></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script style="text/javascript" src="js/main.js"></script>
</body>
</html>