<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="app">

        <main>

            <div class='top-bar'>

            </div>

            <div class="container">
                
                <div class="col-left">
                    <div class="top-head-name">
                    <div class="head-name">
                        <img src="./img/avatar_1.jpg" alt="Utente"/>
                        <span class="name">Michele</span>
                        <div>
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="alert">
                        <span><i class="fa-regular fa-bell-slash"></i></span>
                        <div>
                            <h5>Ricevi notifiche di nuovi messaggi</h5>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="search">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchName">
                    </div>
                    </div>
                    <ul>
                        <li class="avatar" v-for="(avatar,index) in contacts" :class="avatar.name.toLowerCase().includes(this.searchName.toLowerCase())?'':'d-none'" @click="showAvatar(index)" >
                            <img :src="avatar.avatar" :alt="avatar.name"/>
                            <div class="avatar-cnt">
                                <div class="avatar-name">
                                    <div>{{avatar.name}}</div>
                                    <span class="date">12.00</span>
                                </div>
                                <div class="last-msg" v-for="message,index in contacts[avatarSelezionato].messages"></div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-right">
                    <div class="head-name" v-if="avatarSelezionato != -1">
                        <img :src="contacts[avatarSelezionato].avatar" :alt="contacts[avatarSelezionato].name"/>
                        <div class="name">
                            <span>{{contacts[avatarSelezionato].name}}</span>
                            <div class="date-name">Ultimo accesso alle 12.00</div>
                        </div>
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="cnt-text" v-if="avatarSelezionato != -1">
                        <ul>
                            <li v-for="message in contacts[avatarSelezionato].messages">
                                <div :class="message.status" class="message-box">
                                    <span>{{message.message}}</span>
                                    <span class="date">{{message.date}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="head-name">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage(message)">
                        <i class="fa-solid fa-microphone"></i>
                    </div>

                </div>

                
            </div>

        </main>


















    </div>











    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script style="text/javascript" src="js/main.js"></script>
</body>
</html>